:host {
  display: flex;
  flex-direction: row;
}
:host li {
  list-style-type: none;
}

:host ul {
  padding: 0;
  margin: 0;
}
:host .sidebar {
  min-width: 300px;
}
:host .main {
  border: 1px dashed #ccc;
  padding: 10px;
  flex-grow: 1;
}
